[options]
allow_bold = true
#audible_bell = false
clickable_url = true
dynamic_title = true
font = Monospace 9
#fullscreen = true
#geometry = 640x480
icon_name = terminal
mouse_autohide = true
#scroll_on_output = false
#scroll_on_keystroke = true
# Length of the scrollback buffer, 0 disabled the scrollback buffer
# and setting it to a negative value means "infinite scrollback"
scrollback_lines = 10000
#search_wrap = true
#urgent_on_bell = true

# $BROWSER is used by default if set, with xdg-open as a fallback
#browser = xdg-open

# "system", "on" or "off"
cursor_blink = system

# "ibeam", "underline" or "ibeam"
cursor_shape = ibeam

# Hide links that are no longer valid in url select overlay mode
#filter_unmatched_urls = true

# Emit escape sequences for extra modified keys
#modify_other_keys = false

# set size hints for the window
#size_hints = false

# "off", "left" or "right"
#scrollbar = off

[colors]
# special
foreground      = #000000 #ffffff
foreground_bold = #000000 #ffffff
cursor          = #ffffff
background      = #000000

# black
color0  = #151515
color8  = #696969

# red
color1  = #ff8eaf
color9  = #ed4c7a

# green
color2  = #a6e25f
color10 = #a6e179

# yellow
color3  = #f8e578
color11 = #ffdf6b

# blue
color4  = #a6e2f0
color12 = #79d2ff

# magenta
color5  = #e85b92
color13 = #bb5d79

# cyan
color6  = #5f868f
color14 = #87a8af

# white
color7  = #d5f1f2
color15 = #e2f1f6

